:root {
    /* Success */
    --color-success: var(--color-green-500);
    --color-success-border: var(--color-green-400);
    --color-success-bg-hover: var(--color-green-100);
    --color-success-text: var(--color-green-400);
    --color-success-text-hover: var(--color-green-600);
    --color-success-shadow: 0 0 30px var(--color-green-100);
    --color-success-shadow-dark: 0 5px 30px var(--color-green-800), 0 1px 4px rgba(0, 0, 0, 0.05);

    /* Warning */
    --color-warning: var(--color-yellow-500);
    --color-warning-border: var(--color-yellow-400);
    --color-warning-bg-hover: var(--color-yellow-100);
    --color-warning-text: var(--color-yellow-400);
    --color-warning-text-hover: var(--color-yellow-600);
    --color-warning-shadow: 0 0 30px var(--color-yellow-100);
    --color-warning-shadow-dark: 0 5px 30px var(--color-yellow-800), 0 1px 4px rgba(0, 0, 0, 0.05);

    /* Info */
    --color-info: var(--color-blue-500);
    --color-info-border: var(--color-blue-400);
    --color-info-bg-hover: var(--color-blue-100);
    --color-info-text: var(--color-blue-400);
    --color-info-text-hover: var(--color-blue-600);
    --color-info-shadow: 0 0 30px var(--color-blue-100);
    --color-info-shadow-dark: 0 5px 30px var(--color-blue-800), 0 1px 4px rgba(0, 0, 0, 0.05);

    /* Danger */
    --color-danger: var(--color-red-500);
    --color-danger-border: var(--color-red-500);
    --color-danger-bg-hover: var(--color-red-200);
    --color-danger-text: var(--color-red-500);
    --color-danger-text-hover: var(--color-red-500);
    --color-danger-shadow: 0 0 30px var(--color-red-100);
    --color-danger-shadow-dark: 0 5px 30px var(--color-red-800), 0 1px 4px rgba(0, 0, 0, 0.05);
}

.dark {
    /* Success */
    --color-success: var(--color-green-400);
    --color-success-border: var(--color-green-400);
    --color-success-bg-hover: var(--color-green-800);
    --color-success-text: var(--color-green-400);
    --color-success-text-hover: var(--color-green-400);
    --color-success-shadow: var(--color-success-shadow-dark);

    /* Warning */
    --color-warning: var(--color-yellow-400);
    --color-warning-border: var(--color-yellow-400);
    --color-warning-bg-hover: var(--color-yellow-800);
    --color-warning-text: var(--color-yellow-400);
    --color-warning-text-hover: var(--color-yellow-400);
    --color-warning-shadow: var(--color-warning-shadow-dark);

    /* Info */
    --color-info: var(--color-blue-400);
    --color-info-border: var(--color-blue-400);
    --color-info-bg-hover: var(--color-blue-800);
    --color-info-text: var(--color-blue-400);
    --color-info-text-hover: var(--color-blue-400);
    --color-info-shadow: var(--color-info-shadow-dark);

    /* Danger */
    --color-danger: var(--color-red-400);
    --color-danger-border: var(--color-red-400);
    --color-danger-bg-hover: var(--color-red-800);
    --color-danger-text: var(--color-red-400);
    --color-danger-text-hover: var(--color-red-400);
    --color-danger-shadow: var(--color-danger-shadow-dark);
}

/* Primary Button */
.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: var(--color-primary);
    border-radius: 4px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family-sans);
    font-size: var(--text-sm);
    font-weight: 400;
    height: 4rem;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 2rem;
}
.button:hover {
    background-color: var(--color-blue-600);
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
.button:hover:after {
    opacity: .5;
}
.button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}
.button:active:after {
    opacity: 1;
}

/* Secondary Button */
.button-secondary {
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-weight: 600;
}
.button-secondary:hover {
    background-color: var(--color-secondary);
    filter: brightness(90%);
}

/* Success Button */
.button-outline-success {
    border: 1px solid var(--color-success-border);
    color: var(--color-success-text);
    font-weight: 400;
    background: none;
    transition: all 0.3s ease;
}
.button-outline-success:hover {
    background: var(--color-success-bg-hover);
    color: var(--color-success-text-hover);
    box-shadow: var(--color-success-shadow);
    filter: brightness(90%);
}

/* Warning Button */
.button-outline-warning {
    border: 1px solid var(--color-warning-border);
    color: var(--color-warning-text);
    font-weight: 400;
    background: none;
    transition: all 0.3s ease;
}
.button-outline-warning:hover {
    background: var(--color-warning-bg-hover);
    color: var(--color-warning-text-hover);
    box-shadow: var(--color-warning-shadow);
    filter: brightness(90%);
}

/* Info Button */
.button-outline-info {
    border: 1px solid var(--color-info-border);
    color: var(--color-info-text);
    font-weight: 400;
    background: none;
    transition: all 0.3s ease;
}
.button-outline-info:hover {
    background: var(--color-info-bg-hover);
    color: var(--color-info-text-hover);
    box-shadow: var(--color-info-shadow);
    filter: brightness(90%);
}

/* Danger Button */
.button-outline-danger {
    border: 1px solid var(--color-danger-border);
    color: var(--color-danger-text);
    font-weight: 400;
    background: none;
    transition: all 0.3s ease;
}
.button-outline-danger:hover {
    background: var(--color-danger-bg-hover);
    color: var(--color-danger-text-hover);
    box-shadow: var(--color-danger-shadow);
    filter: brightness(90%);
}